absl-py==2.3.1
annotated-types==0.7.0
arch==7.2.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
docstring_parser==0.16
Farama-Notifications==0.0.4
filelock==3.18.0
fonttools==4.59.0
fsspec==2025.7.0
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.73.1
gym==0.26.2
gym-minigrid==1.2.2
gym-notices==0.0.8
gymnasium==1.2.0
gymnasium-minigrid==0.0.5
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
jax-jumpy==1.0.0
Jinja2==3.1.6
kiwisolver==1.4.8
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
minigrid==3.0.0
moviepy==2.2.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.1
patsy==1.0.1
pillow==11.3.0
platformdirs==4.3.8
proglog==0.1.12
protobuf==6.31.1
pydantic==2.11.7
pydantic_core==2.33.2
pygame==2.1.3
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.0.0
rliable==1.2.0
scipy==1.15.3
seaborn==0.13.2
sentry-sdk==2.33.0
Shimmy==2.0.0
shtab==1.7.2
six==1.17.0
smmap==5.0.2
stable_baselines3==2.6.0
statsmodels==0.14.5
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.7.1
tqdm==4.67.1
typeguard==4.4.4
typing-inspection==0.4.1
typing_extensions==4.14.1
tyro==0.9.26
tzdata==2025.2
urllib3==2.5.0
wandb==0.21.0
Werkzeug==3.1.3
